body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    background-color: #000;
    color: white;
}
.family{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.family img{
    height: auto;
    width: 430px;
}
.family-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.family-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.family-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.family-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.aboutBd{
    background-color: #000;
    color: white;
    padding: 50px 0;
}
.galary-title{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.galary-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.section{
    height: 400px;
    max-width: 100%;
    background-color: #000;
}
.section__content{
    padding-top: 50px;
}
.common-width{
    width: 100%;
}
.title{
    font-size: 36px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}
.text{
    font-size: 18px;
    color: white;
}