* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
:root {
  --white: rgba(255, 255, 255, 1);
}
/* common style */
.flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.text-center {
  text-align: center;
}
.container {
  max-width: 90%;
  margin: auto;
}
.box-shadow {
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
}
.responsive-img {
  max-width: 100%;
  height: auto;
}

/* style for hero area */
.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../img/parvez-bg.png);
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo {
  color: var(--white);
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: #f9004d;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: #f9004d;
  transition: 0.4s;
}
.btn {
  background-color: #f9004d;
  color: var(--white);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transforn 0.4s;
}
.btn:hover {
  transform: scale(1.2);
}
.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
.content h1 {
  color: var(--white);
  margin: 20px 0px 20px;
  font-size: 75px;
}
.content h3 {
  color: var(--white);
  font-size: 25px;
  margin-bottom: 50px;
}
.content h4 {
  color: #fcfc;
  font-size: 20px;
  letter-spacing: 2px;
}
.newslatter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}
.newslatter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #f9004d;
  outline: none;
  border-radius: 30px;
}
.newslatter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #f9004d;
  color: var(--white);
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 6px;
  cursor: pointer;
}

/* style for section one */
.sectionOne {
  background-color: #191919;
  height: 730px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.sectionOne-content {
  display: flex;
}
.sectionOne__right {
  width: 87%;
  margin-right: 3%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 15px;
}
.sectionOne__left {
  width: 30%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 15px;
}
.skills-title {
  color: var(--white);
  text-align: center;
  font-size: 42px;
  padding-top: 25px;
}
.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
}
.skill-details {
  color: var(--white);
}
.skill-icon {
  width: 60px;
  margin-left: 10px;
}
.skill {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px;
  width: 240px;
  height: 100px;
  margin: auto;
}
.skill-name {
  font-size: 25px;
  margin-bottom: 8px;
}
.skill-lavel {
  font-size: 17px;
}
.profile {
  text-align: center;
  padding-top: 30px;
}
.profile img {
  border-radius: 50%;
  width: 70%;
}
.profile-details {
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.profile h2,
h3,
h5,
p {
  color: var(--white);
}
.profile h2 {
  font-size: 32px;
}
.profile h5 {
  font-size: 18px;
}

/* style for contact me */
.contact-me {
  width: 100%;
  height: 290px;
  background: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-me p {
  font-size: 27px;
  color: var(--white);
  font-weight: bold;
  margin-bottom: 25px;
}
.contact-me .button-two {
  background-color: #f9004d;
  color: var(--white);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
.contact-me .button-two:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
/* style roules for video  */
.video-section{
  background-color: #191919;
  height: 450px;
  max-width: 100%;
}
.video-content{
  display: flex;
  align-items: center;
  gap: 20px;
}
.video-section-left{
  margin-top: 40px;
  border: 3px solid #f9004d;
  border-radius: 5px;
}
.video-section-title{
  color: var(--white);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
.video-section-text{
  color: var(--white);
}

/* style for contact me */
.social {
  display: flex;
  justify-content: center;
}
.social a {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
}
.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.end {
  position: absolute;
  color: #f9004d;
  bottom: 35px;
  font-size: 14px;
}
/* style for section two */
.sectionTwo{
  background-color: #000;
  padding: 100px 0;
}
.sectionTwo__content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sectionTwo__left--title{
  font-size: 32px;
  color: wheat;
}
.sectionTwo__left{
  display: flex;
  flex-direction: column;
}
.features{
  color: var(--white);
  font-size: 32px;
  margin-bottom: 10px;
}
.features-card{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
  width: 400px;
  color: white;
}
.features-card img{
  width: 70px;
  padding: 7px;
  border: 2px solid #f9004d;
  border-radius: 50%;
}
.features-title{
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 700;
}
.features-title span{
  font-weight: 700;
}
/* .features-card img:hover{
  background-color: #f9004d;
  border: 2px solid var(--white);
  opacity: 0.7;
  transition: 0.3s;
} */



/* style rules for section five */
.sectionThree {
  padding: 50px 0;
  background-color:  #191919;
}
.sectionThree__label{
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white);
}
.sectionThree__title{
  font-size: 32px;
  font-weight: 400;
  line-height: 125%;
  color: white;
}
.sectionThree__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
[class^="sectionThree__card--"] {
  padding: 20px 25px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.377);
}
[class^="sectionThree__card--"] .name {
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}
[class^="sectionThree__card--"] .position {
  text-transform: capitalize;
  color: white;
}




/* footer section */
.footer-section{
  padding: 50px 0;
  background-color: #000;
}
.footer-group{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}
.one_quarter{
  max-width: 100%;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #f9004d;
}
.heading{
  color: var(--white);
  font-size: 22px;
}
.first p{
  line-height: 25px;
}
.linklist li{
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
legend{
  color: wheat;
}
.newsletter input{
  width: 100%;
  height: 45px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: rgba(255,255,255,.2);
}
.newsletter-btn{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 14px;
  padding: 10px 18px;
  border-radius: 5px;
  border: 1px solid #f9004d;
}
.newsletter-btn:hover{
  background-color: #f9004d;
  border: 1px solid white;
  transition: 0.2s;
}
.footer-img{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
  padding-top: 30px;
}
.footer-img img{
  width: 60px;
  height: 60px;
}



.copyright-div{
  background-color: #000;
}
#copyright{
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}